.body {
  background-color: #de3039;
}

.container {
  width: 300px;
  height: 500px;
  background-color: #de3039;
  color: white;
}

a:hover del {
  /* color: #333333; */
  color: #00065e;
}

a:hover text {
  /* color: #333333; */
  color: #00065e;
}

#title {
  width: fit-content;
  margin-left: 200px;
}

#todo-field {
  width: 90%;
  margin-bottom: 10px;
}

#top-container {
  height: fit-content;
  width: fit-content;
  /* width: 200px  CHANGE BACK TO THIS WHEN DONE BUTTONS */
  width: 250px;
  /* display: flex; */
  /* justify-content: space-around; */
  /* flex-direction: column; */
  /* margin-left: 60px; */
  /* padding-top: 20px; */
}

#timer-container {
  background-color: #333333;
  /* border: 1px solid black; */
  height: fit-content;
  /* width: 175px; */
  width: 100%;
  margin-bottom: 10px;
  /* margin-left: 60px; */
  display: flex;
  justify-content: center;
}

#bottom-container {
  height: 100px;
  width: 300px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
}

#todo-list {
  max-height: 200px;
  max-width: 275px;
  /* border: 1px solid black; */
  overflow: scroll;
}
